<%= form_for(@question) do |f| %>
  <div class="panel">
    <%= f.error_messages %>
    <h4><%= f.label :ask %></h4>
    <%= f.text_field :ask %>
    <h4><%= f.label :detail %></h4>
    <%= f.text_field :detail %>
    <%= f.submit "Ask Question", :class => "button" %>
  </div>
<% end %>
