<div class="panel large-10">
  <h4><%= @question.ask %></h4>
  <h6>Here's some details you may or may not need:</h6>
  <p><%= @question.detail %></p>
  <%= link_to "Edit Question", edit_question_path, :class => "button" %>
  <%= link_to "Delete Question", question_path(@question), 
                                :method => :delete,
                                :confirm => "Are you sure you want to delete this question?",
                                :class => "button" %>
  <%= link_to "Answer Question", new_question_answer_path(@question) %>                    
</div>
<div id="tickets" class="panel large-10">
  <ul>
    <% @question.answers.each do |answer| %>
    <li>
        <%= link_to answer.answer,[@question, @answer] %>
    </li>
    <% end %>
  </ul>
</div>